body {
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    padding: 10px;
    margin-top:5px ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html {
    
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 50px;
    color:white;
    margin-top:10px;

}


p {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    color:white;
}

.card {
    background-color: white;
    margin:20px;
    border-radius: 20px;
    width: 303px;
    height: 385px;
    padding: 35px; 
    overflow: hidden; 
    position: relative; 
    -webkit-box-shadow: 8px 8px 17px -5px rgba(0,0,0,0.4);
    -moz-box-shadow: 8px 8px 17px -5px rgba(0,0,0,0.4);
    box-shadow: 8px 8px 17px -5px rgba(0,0,0,0.4);
    

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}